.container-products {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    align-items: center;
    background-color: #5A9FBB; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 432px;
    justify-content: center;
    margin-top: 40px;
    max-width: 220px;
    width: 100%;
    position: relative;
}

.container-notes {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.note-card{
    align-items: center;
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border-radius: 14px;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 340px;
    justify-content: center;
    max-width: 280px;
    width: 100%;
    margin-top: 30px;
}

.note-img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%;
}

.card-img {
    object-fit: cover;
}

.title-note{
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.title-card {
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #F5F5F5;
    color: #001F3F;
}

.text-note {
    width: 100%;
    font-size: 12px;
    text-align: start;
    margin-top: 15px;
    font-weight: bold;
}

.text-card {
    width: 100%;
    font-size: 16px;
    text-align: start;
    margin-top: 25px;
    margin-bottom: 10px;
}

.value-card {
    width: 100%;
    margin-top: 20px;
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: start;
    color: #001F3F;
}

.login-card {
    background-color: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border-radius: 12px;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 330px;
    justify-content: center;
    margin-top: 100px;
    margin-left: 800px;
    max-width: 300px;
    width: 100%;
    position: relative;     
}

.user{
    display: flex;
    margin-left: 110px;
    max-width: 50px;
    width: 100%;
}

.title-login {
    text-align: center;
    margin-bottom: 20px;
}

.button-login{
    margin-top: 20px;
    margin-left: 95px;
    background-color: #001F3F;
    border: #001F3F;
}

.button-login:hover{
    background-color: #005B85;
    border: #005B85;
}