.historia {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 256px;
    margin-bottom: 20px;
}

.texto {
    font-size: 18px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 40px;
    padding: 5px;
    text-align: justify;
    line-height: 1.5;
}   
