header {
    background-color: #1d1e1f;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}

body {
    margin: 0 !important;
    background-color: darkgray !important;
}

.container-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

.logotipo img {
    max-width: 200px;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
}

.container-menu {
    width: 100%;
    display: flex;
    list-style: none;
    margin-top: 10px;
    margin-right: 100px;
}

.container-menu li {
    padding: 0px 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin: 10px;
}

.container-menu a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: white;
}

.container-menu a:hover {
    color: #005b85;
}

.redes {
    display: flex;
    align-items: center;
    width: 25px;
    height: auto;
    cursor: pointer;
    margin-right: 20px;
}

.redes img {
    width: 100%;
    height: auto;
}

.container-carousel {
    text-align: center;
    padding: 20px;
}

.container-carousel img {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

footer {
    background-color: #1d1e1f;
    height: auto;
    bottom: 0;
    padding: 20px;
    width: 100%;
}